@{
    ViewData["Title"] = "Start";
}

<div class="container m-lg">
    <h2>
        Welcome to this very simple guest book
    </h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <span>
            Please log in to read and post messages.
        </span>
        <partial name="_LoginPartial" />
    }
    else
    {

<a asp-area="" asp-controller="Messages" asp-action="Index">Messages</a>
            @*<partial name="~/Views/Messages/Index.cshtml" model="IEnumerable<TheGuestBook.Models.Message>" />*@

    }
</div>
