/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a, .navbar-inverse .navbar-brand, button {
    color: #ceaf43;
    transition: color 100ms;
}

    a:hover, .navbar-inverse .btn-link:hover, .navbar-inverse .navbar-brand:hover, a:focus, .navbar-inverse .navbar-brand:focus, button:hover {
        color: #eac132;
        text-decoration: none;
    }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: default;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.7em;
}

.message-form .message-field textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

.vertical-center {
    margin-top: 24vh;
}

.add-button {
    position: fixed;
    right: 10%;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10%;
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

    .add-button span {
        text-shadow: 0 2px 5px black;
    }

.nav li {
    text-align: right;
}

    .nav li .navbar-btn {
        margin-right: 20px;
    }

.flexbox-row {
    display: flex;
    justify-content: space-between;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i {
    font-size: 12px;
    color: #b1b0b0;
}

.margin-right-large {
    margin-right: 100px;
}

.small {
    margin-top: 10px;
}

.like-element {
    min-width: 45px;
    align-items: center;
}

    .like-element .like-button {
        padding: 0;
        background: transparent;
        border: none;
        transition: filter 0.5s ease-out;
        filter: hue-rotate(0deg) saturate(1);
    }

        .like-element .like-button:hover {
            filter: hue-rotate(-40deg) saturate(1);
        }

    .like-element .like-button-disabled:focus {
        outline: none;
    }

    .like-element .like-button-disabled img {
        filter: saturate(0);
    }
