/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a, .navbar-inverse .navbar-brand {
    color: #887e5d;
}

    a:hover, .navbar-inverse:hover .navbar-brand:hover, a:focus, .navbar-inverse:focus .navbar-brand:focus {
        color: #b6af99;
        text-decoration: none;
    }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: default;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand {
    font-weight: bold;
    font-size: 2em;
}

.like-button {
    background: transparent;
    border: none;
    transition: filter 0.5s ease-out;
    filter: hue-rotate(0deg) saturate(1);
}

    .like-button:hover {
        filter: hue-rotate(-40deg) saturate(1);
    }